/upload/*
!/upload/.gitkeep

/images/articles/*
!/images/articles/.gitkeep
/images/avatars/*
!/images/avatars/.gitkeep
/images/galleries/*
!/images/galleries/.gitkeep
/images/thumb/*
!/images/thumb/.gitkeep

/system/backup/*
!/system/backup/.gitkeep
/system/tmp/*
!/system/tmp/.gitkeep
/system/cache/*
!/system/cache/.gitkeep

/plugins/.composer
/plugins/*/*/config.php

/plugins/extend/*
!/plugins/extend/devkit
!/plugins/extend/codemirror
!/plugins/extend/lightbox

/plugins/languages/*
!/plugins/languages/cs
!/plugins/languages/en

/plugins/templates/*
!/plugins/templates/default
!/plugins/templates/blank
!/plugins/templates/.htaccess

/vendor/*
!/vendor/.htaccess

/composer.lock
/config.php
/mail.log
