/upload/*
!/upload/.gitkeep

/images/articles/*
!/images/articles/.gitkeep
/images/avatars/*
!/images/avatars/no-avatar.jpg
!/images/avatars/no-avatar-dark.jpg
/images/galleries/*
!/images/galleries/.gitkeep
/images/thumb/*
!/images/thumb/.gitkeep

/system/backup/*
!/system/backup/.gitkeep
!/system/backup/.htaccess
/system/tmp/*
!/system/tmp/.gitkeep
!/system/tmp/.htaccess
/system/cache/*
!/system/cache/.gitkeep
!/system/cache/.htaccess

/plugins/extend/*
!/plugins/extend/devkit
!/plugins/extend/codemirror
!/plugins/extend/fancybox

/plugins/languages/*
!/plugins/languages/cs
!/plugins/languages/en

/plugins/templates/*
!/plugins/templates/default
!/plugins/templates/classic

/vendor/*
!/vendor/.htaccess

/.htaccess
/config.php
/mail.log
