<?php

return array(
    // pristup k databazi
    // database access
    'db.server' => '',
    'db.port' => null,
    'db.user' => '',
    'db.password' => '',
    'db.name' => '',
    'db.prefix' => '',
    
    // abs. adresa bez lomitka na konci
    // absolute URL without a trailing slash
    'url' => 'http://example.com',
    
    // nahodny tajny hash (pouzivano pro XSRF ochranu aj.)
    // random secret hash (used for XSRF protection etc.)
    // https://sunlight-cms.cz/resource/hashgen
    'secret' => '',
    
    // unikatni identifikator v ramci serveru (pouzivano pro nazev session, cookies, aj.)
    // unique identifier (server-wide) (used as part of the session name, cookies, etc.)
    'app_id' => 'sunlight',

    // vychozi jazyk (cs nebo en)
    // default language (cs or en)
    'fallback_lang' => 'cs',
    
    // vyvojovy rezim (nepouzivat v produkci)
    // debug mode (do not use in production)
    'debug' => false,
    
    // pouzivat cache (doporuceno)
    // use cache (recommended)
    'cache' => true,
    
    // nastaveni lokalizace
    // localisation settings
    'locale' => null, // setlocale()
    'timezone' => null, // date_default_timezone_set()
    'geo.latitude' => 50.5,
    'geo.longitude' => 14.26,
    'geo.zenith' => 90.583333,
);
