#menu a,
#menu a span,
.paging a,
ul.page-list-breadcrumbs li,
a.button,
.inline-list > li {
    display: inline;
}

input[type=text],
input[type=password],
select {
    height: auto;
}

body.light table.page-list.page-list-full-tree td.page-title a:hover span,
body.light table.page-list.page-list-single-level td.page-title a span {
    background: url("../images/down.png") right center no-repeat;
}
body.dark table.page-list.page-list-full-tree td.page-title a:hover span,
body.dark table.page-list.page-list-single-level td.page-title a span {
    background: url("../images/down_inverted.png") right center no-repeat;
}

#busy-overlay {
    background: url(../images/bg_transparent.png) left top repeat;
}
#busy-overlay > div {
    background: url(../images/bg_black_50.png) left top repeat;
}
